---
- name: rbenv
  become_user: "{{ user }}"
  git:
    repo=https://github.com/rbenv/rbenv.git
    dest="{{ home_dir }}/.rbenv"
    update=no

- name: ruby-build
  become_user: "{{ user }}"
  git:
    repo=https://github.com/rbenv/ruby-build.git
    dest="{{ home_dir }}/.rbenv/plugins/ruby-build"
    update=no

- name: rbenv
  become_user: "{{ user }}"
  git:
    repo=https://github.com/rbenv/rbenv-gem-rehash.git
    dest="{{ home_dir }}/.rbenv/plugins/rbenv-gem-rehash"
    update=no

- name: Ruby setup
  become_user: "{{ user }}"
  command: "{{ item }}"
  with_items:
    - rbenv install 2.1.8
    - rbenv install 2.2.4
    - rbenv install 2.3.0
    - rbenv global 2.3.0
    - gem install bundler
    - gem install rails
    - rbenv rehash
