[Desktop Entry]
Type=Application
Terminal=false
Name=Libinput Gestures
Exec=/home/richard/.local/bin/libinput-gestures
Comment=Background application to intercept and action libinput gestures from touchpad.
Categories=GNOME;GTK;System;
