[Desktop Entry]
Icon=redshift
X-GNOME-Autostart-enabled=true
Comment=Color temperature adjustment tool
Exec=redshift-gtk
StartupNotify=true
Name=Redshift
GenericName=Color temperature adjustment
Categories=Utility;
Type=Application
Hidden=false
Terminal=false
Version=1.0

