[Unit]
Description=Run dconf backup script

[Timer]
OnBootSec=10min
OnCalendar=daily
OnActiveSec=1d
Persistent=true

[Install]
WantedBy=backups.target
