[Unit]
Description=Run dconf backup script

[Install]
WantedBy=backups.target

[Service]
Type=oneshot
#Nice=19
#IOSchedulingClass=2
#IOSchedulingPriority=7
ExecStart=/home/richard/.dconf/bin/dump
User=richard
Group=richard
