[Unit]
Description=Run dconf backup script

[Service]
Type=simple
Nice=19
IOSchedulingClass=2
IOSchedulingPriority=7
ExecStart=/home/richard/.dconf/bin/dump
User=richard
Group=richard
