[Unit]
Description=Run duplicity backup script
After=dconf.service

[Timer]
OnStartupSec=20min
OnCalendar=daily
Persistent=true

[Install]
WantedBy=timers.target
