[Unit]
Description=Run duplicity backup script
After=dconf.service

[Timer]
OnBootSec=20min
OnCalendar=daily
OnActiveSec=1d
Persistent=true

[Install]
WantedBy=backups.target
